@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200;0,300;0,800;0,805;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    text-align: center;
    border: 2px solid grey;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
}

header{
    font-size: 90px;
    padding: 15px 15px;
    font-weight: 800;
}

header,
footer{
    background-color: grey;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
}

.diplayPlayer,
.displayWinner{
    font-size: 35px;
    margin-top: 10px;
}

.restart{
    margin-top: 15px;
    padding: 15px 25px;
}

.game-area {
    flex-grow: 1;
    display: none;
    background-color: #F0F7F4;
}

.playerInfo{
    flex-grow: 1;
    background-color: #F0F7F4;
    padding-top: 100px;
}

.playerInfo input{
    background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 7px;
  font-size: 20px;
  padding-right: 10px;
}

.start,
.restart{
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 25px;
    
}

.info label{
    font-weight: 800;
    padding-right: 10px;
    padding-left: 10px;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-auto-columns:1fr;
    grid-auto-rows:1fr;
    text-align: center;
    font-size: 120px;
    overflow: hidden;
    margin: auto;
}

.board div {
    outline: 2px solid #000;
}

.board div:last-child {
    grid-area:3/3;
  }